/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.vscode
npm-debug.log
yarn-error.log
.phpunit.result.cache
.rnd
*.tar
/.php_cs.cache
/psysh/psysh_history
/composer/

!/.idea

.idea/workspace.xml
.idea/dataSources
/lara8
/.idea/httpRequests/
/.idea/shelf/
/doc
/.cache
